@import "variables";
@import "mixins";

.page-content {
    display: flex;
    flex-direction: column;
}

.page-title {
    @include dialog-title;
    align-self: center;
}

.daily-portion-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.daily-portion-slider {
    flex-grow: 1;
}
